.footer {
    background-color: #232323;
}

.footer__inner {
    padding: 4rem 0;
    border-bottom: 1px solid #393939;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.footer__info,
.footer__contacts {
    width: 100%;
    max-width: 30rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.footer__text {
    p {
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;
        line-height: 1.5;
        letter-spacing: 0.025em;
        font-weight: 300;
        color: #ccc;
    }
}

.footer__title {
    font-size: 2rem;
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    letter-spacing: 0.025em;
    margin-bottom: 2rem;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__contacts-item {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    color: #888888;
    letter-spacing: 0.025em;
    line-height: 1.8;

    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        flex-shrink: 0;
        fill: #888888;
    }
}

.footer__copyright {
    text-align: center;
    padding: 2rem 0;

    p {
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;
        color: #ccc;
    }
}