.auth {
    width: 100%;
    max-width: 63rem;
    margin: 0 auto;

    background: #fff;

    padding: 5rem 8rem;
    border: 1px solid #000;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 450px) {
        padding: 2rem 3rem;

        .auth__redirec {
            font-size: 1rem;
        }
    }
}

.auth__redirec {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #000;
    letter-spacing: 0.025em;

    a {
        text-decoration: none;
        color: lighten(#000, 50%);

        &:hover {
            text-decoration: underline;
        }
    }
}