.categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subcategories {
    padding: 1rem 0 2rem 2rem;
    margin: 0;
    list-style: none;
}

.category__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        span {
            color: #000;
        }
    }
}

.category,
.category a {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #666666;

    &:hover {
        color: #000;
    }
}
