/*
  Btn
*/
.btn {
    cursor: pointer;
    border: none;
    background: #fff;
    border-radius: 5rem;

    font-size: 14px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;

    padding: 15px 35px;
    flex-shrink: 0;

    transition: background-color 0.2s linear;

    &.active {
        background: #000;
        fill: #fff;
        color: #fff;
    }

    &:hover {
        background: darken(#fff, 5%);
    }

    &.--black {
        background: #000;
        fill: #fff;
        color: #fff;

        &.--lowOpacity {
            background: rgba(#000, 0.7);
        }

        &:disabled {
            background: #ff9d27;
            color: #666666;
            fill: #666666;

            &:hover {
                background: #ff9d27;
            }
        }

        &:hover {
            background-color: lighten(#000, 5%);
        }
    }

    &.--poppins {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: none;
    }

    &.--small {
        padding: 1rem 2rem;
    }

    &.--rounded {
        width: 41px;
        height: 41px;

        border-radius: 50%;
        padding: 1.2rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.--grey {
        background-color: #f5f5f5;

        &:hover {
            background: darken(#f5f5f5, 5%);
        }
    }

    &.--pseudo-elem {
        position: relative;

        &::before {
            position: absolute;
            left: 100%;
            z-index: 1;

            content: "";
            display: block;
            width: 100%;
            max-width: 4rem;
            height: 1px;
            background-color: #e8e8e8;
        }
    }

    &.--border {
        border: 1px solid #e8e8e8;
    }

    &.--reversed {
        transform: rotate(180deg);
    }

    &.--slider {
        padding: 0.8rem;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

/*
  Dot
*/
.dot {
    cursor: pointer;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;

    transition: background-color 0.2s linear;

    &:checked {
        background-color: #000;
    }
}

/*
  Toggle (plus - minus)
*/
.toggle {
    cursor: pointer;
    background: none;
    border: none;
    width: 15px;
    height: 15px;
    position: relative;

    &::after,
    &::before {
        content: "";

        display: block;
        background-color: #000;
        transition: all 0.1s ease-in-out;
        opacity: 1;

        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    &::after {
        width: 3px;
        height: 15px;
    }

    &::before {
        width: 15px;
        height: 3px;
    }

    &.active {
        &::after,
        &::before {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        &::after {
            opacity: 0;
        }
    }
}
