.about2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;

    width: 100%;
    max-width: 129rem;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
        justify-content: center;

        .about2__img {
            margin: 0 10rem;
        }

        .about2__banner,
        .about2__banner.--reversed {
            right: 50%;
            transform: translateX(50%);
        }
    }

    @media screen and (max-width: 676px) {
        .about2__img {
            margin: 0;
        }
    }
}

.about2__img {
    position: relative;

    width: 100%;
    max-width: 40rem;
    height: 60rem;
}

.about2__banner {
    position: absolute;
    top: 30%;
    right: 40%;
    z-index: 1;

    &.--reversed {
        right: -50%;
    }
}
