.textarea {
  resize: none;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  min-height: 15rem;

  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04em;
  color: #000;

  &::placeholder {
    color: #666666;
  }
}
