/*
  Table
*/
.cart__table-responsive {
    display: block;
    width: 100%;
    overflow: auto;
}

.cart__table {
    width: 100%;
    border-collapse: collapse;

    td {
        text-align: center;
        padding: 2rem;
    }
}

.cart__table-header {
    border-bottom: 1px solid #e1e1e1;
}

.cart__table-title {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding-bottom: 1rem;
    color: #444;
}
