.banner {
    position: relative;
    z-index: 1;

    border: 10px solid #f7f7f7;
    background: #fff;
    min-width: 46rem;

    padding: 7rem;
    text-align: center;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &.--mini {
        padding: 5rem;

        .banner__subtitle {
            font-size: 3rem;
        }
    }

    @media screen and (max-width: 676px) {
        width: 100%;
        min-width: unset;
        max-width: 46rem;
        padding: 3rem;
        gap: 0.5rem;

        &.--mini {
            padding: 3rem;
        }

        .banner__title {
            font-size: 3.4rem;
        }

        .banner__subtitle {
            font-size: 3rem;
        }

        .banner__text {
            &::before {
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}

.banner__title {
    font-size: 5rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 1.2;
    color: #000;
}

.banner__subtitle {
    font-size: 3.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 1.2;
    color: #232323;
}

.banner__price {
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.025em;
    line-height: 1.8;
    text-transform: uppercase;
    color: #000;
}

.banner__text {
    width: 100%;
    max-width: 34rem;
    margin: 0 auto;

    p {
        font-size: 1.4rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.025em;
        color: #777;
    }

    &::before {
        content: "";

        display: block;
        width: 30%;
        height: 1px;
        background: #ececed;
        margin: 0 auto 25px;
    }
}
