.cart__table-remove {
    cursor: pointer;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.cart__table-img {
    width: 7rem;
    height: 9rem;
}

.cart__table-desc {
    font-size: 1.6rem;
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 0.04em;
    color: #222;
}

.cart__table-quantity {
    padding: 1rem 0.4rem 1rem 2rem;
    border: 1px solid #e1e1e1;
    width: 6rem;
    height: 4rem;
}

.cart__table-price {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #222;
}