.topbar {
    background: #333333;
    padding: 15px 0;
}

.topbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar__left,
.topbar__right {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.025em;
    font-weight: 300;
    color: #fff;

    svg {
        fill: #fff;
    }
}
