.timeline {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline__text {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.025em;
    color: #fff;
}