/*
  Total
*/
.cart__total {
    width: 30%;
    background-color: #f5f5f5;
    padding: 4rem;

    @media screen and (max-width: 1200px) {
        width: 60%;
    }

    @media screen and (max-width: 676px) {
        width: 100%;
    }
}

.cart__total-header {
    font-size: 2rem;
    letter-spacing: 0.04em;
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    color: #222;

    margin-bottom: 2rem;
}

.cart__total-content {
    padding: 3rem 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;

    margin-bottom: 2rem;
}

.cart__total-row {
    text-align: right;
    display: flex;
    align-items: center;

    span,
    b {
        display: block;
        font-size: 1.3rem;
        letter-spacing: 0.04em;
        font-family: "Poppins", sans-serif;
        color: #444;
    }

    span {
        margin-left: auto;
    }

    & + & {
        margin-top: 3rem;
    }
}

.cart__total-footer {
    margin-bottom: 3rem;
}
