/*
  Aside
*/
.aside {
    width: 22%;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        width: 100%;
    }
}

.aside__section {
    padding: 3rem;
    border: 1px solid #e5e5e5;
}

.aside__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.02em;
        color: #222222;
        font-weight: 500;
    }
}

.aside__block {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 3rem;

    & + & {
        padding: 3rem 0;
    }

    &:last-child {
        border: none;
        padding: 0;
        padding-top: 3rem;
    }
}

.aside__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
}

.aside__color {
    cursor: pointer;
    background: none;
    border: none;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #666666;
    text-decoration: none;

    &:hover {
        color: #000;
    }

    & + & {
        margin-top: 0.5rem;
    }
}

.aside__products {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin-top: 2rem;
}

/*
  Banner
*/
.aside__banner {
    display: block;
    position: relative;
    text-decoration: none;

    img {
        width: 100%;
        height: 46rem;
        object-fit: cover;
    }

    @media screen and (max-width: 1200px) {
        img {
            display: none;
        }
    }
}

.aside__banner-text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);

    text-align: center;

    width: 90%;
    padding: 1.5rem;
    background-color: #fff;

    b,
    span {
        display: block;
        letter-spacing: 0.025em;
        line-height: 1.2;
        font-family: "Poppins", sans-serif;
        color: #000;
    }

    b {
        font-size: 2.8rem;
        font-weight: 700;
    }

    span {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 1200px) {
        position: static;
        transform: none;
        width: 100%;
        border: 1px solid #e5e5e5;
    }
}
