.tabs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin: 0 auto;
    gap: 1rem;

    &::after,
    &::before {
        content: "";
        display: block;
        width: 100%;
        max-width: 8rem;
        height: 1px;
        background-color: #e5e5e5;

        position: absolute;
        top: 50%;
        z-index: 1;

        transform: translateY(-50%);
    }

    &::after {
        right: 100%;
    }

    &::before {
        left: 100%;
    }
}

.tab {
    cursor: pointer;
    background: none;
    border: 1px solid #e5e5e5;
    padding: 1rem 1.5rem;

    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
