.checkout__cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 3rem;

    b,
    span {
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.04em;
        color: #444444;
    }

    b {
        font-size: 1.4rem;
        font-weight: 500;
    }

    span {
        font-size: 1.3rem;
    }

    .checkout__promo {
        color: #27a844;
    }

    .checkout__total {
        font-weight: 700;
    }
}
