.intro {
    padding: 0;
}

.intro__inner {
    height: 80rem;
    background: #494546;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__suptitle {
    font-size: 5rem;
    letter-spacing: 0.025em;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #ffcc01;

    margin-bottom: 35px;
}

.intro__title {
    font-size: 7.6rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.025em;
    font-weight: 700;
    color: #fff;

    margin-bottom: 5rem;
}