.pagination {
    padding: 8px 8px 8px 2rem;
    border: 1px solid #e5e5e5;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    &__btns {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__info {
        font-size: 1.3rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.02em;
        color: #666666;
    }
}
