.product-list {
    display: flex;
    align-items: flex-start;
    gap: 3rem;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__img {
        width: 37rem;
        height: 50rem;
        object-fit: cover;
    }

    &__name {
        font-size: 2rem;
        font-family: "Playfair Display", sans-serif;
        letter-spacing: 0.04em;
        color: #222222;
    }

    &__rating {
        font-size: 1.3rem;
        font-family: "Poppins", sans-serif;
    }

    &__text {
        width: 100%;

        p {
            font-size: 1.4rem;
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.02em;
            color: #666666;
        }
    }

    &__colors {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__price {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: .5rem;

        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #000;

        &-old {
            font-size: 1.4rem;
            text-decoration: line-through;
            color: #666666;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    @media screen and (max-width: 676px) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &__content {
            align-items: center;
        }
    }
}
