/*
  Aside
*/
.shop__aside {
    width: 22%;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        width: 100%;
    }
}

.shop__aside-section {
    padding: 3rem;
    border: 1px solid #e5e5e5;
}

.shop__aside-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2rem;

    h4 {
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0.02em;
        color: #222222;
        font-weight: 500;
    }
}

.shop__aside-range {
    display: inline-block;
    margin-bottom: 1rem;

    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #222222;
}
