.checkout__card-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

    &__radio,
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
