.middlebar {
    padding: 35px 0;
    border-bottom: 1px solid #e5e5e5;
}

.middlebar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.middlebar__logo {
    justify-content: center;
}

.middlebar__left {
    justify-content: flex-start;

    @media screen and (max-width: 450px) {
        flex-wrap: wrap;
        gap: 1rem;

        .middlebar__select {
            padding-right: 0;
            margin-right: 0;
            border: 0;
        }
    }
}

.middlebar__right {
    gap: 30px;
    justify-content: flex-end;

    svg {
        cursor: pointer;
        width: 18px;
        height: 18px;
        fill: #444444;
    }
}

.middlebar__left,
.middlebar__right,
.middlebar__logo {
    display: flex;
    align-items: center;
    width: 30%;

    @media screen and (max-width: 1200px) {
        justify-content: center;
        width: 100%;
    }
}

.middlebar__select {
    cursor: pointer;
    display: flex;
    align-items: center;

    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e5e5e5;

    select {
        cursor: inherit;
        max-width: 100%;
        appearance: none;
        background: none;
        border: none;

        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        color: #000;
        letter-spacing: 0.025em;

        &::-ms-expand {
            display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
        }

        &:focus {
            outline: auto;
        }

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: right 8px center;
        padding: 5px 22px 5px 8px;
    }

    /* Target Internet Explorer 9 to undo the custom arrow */
    @media screen and (min-width: 0\0) {
        select {
            background-image: none\9;
            padding: 5px\9;
        }
    }
}

.middlebar__phone {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.025em;
    flex-shrink: 0;

    svg {
        width: 18px;
        height: 18px;
        fill: #444444;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.middlebar__cart {
    display: flex;
    align-items: flex-start;

    span {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;

        background-color: orange;
        padding: 0.4rem;
        border-radius: 50%;

        flex-shrink: 0;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
